<!-- Customizer toggler -->
<a class="position-fixed top-50 bg-light text-dark fw-medium border rounded-pill shadow text-decoration-none"
	href="#side_panel" data-bs-toggle="offcanvas"
	style="right: -1.75rem; margin-top: -1rem; padding: .25rem .95rem; transform: rotate(-90deg); font-size: calc(var(--ar-body-font-size) * .8125); letter-spacing: .075rem; z-index: 1030;">
	<i class="ai-map text-primary fs-base me-1 ms-n1"></i>
	Navigator
</a>
<!-- Customizer offcanvas -->
<div class="offcanvas offcanvas-end" id="side_panel" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1">
	<div class="offcanvas-header border-bottom">
		<h4 class="offcanvas-title"><i class="ai-map"></i>&nbsp;Navigate</h4>
		<button class="btn-close" id="closePanel" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="nav flex-column">
			<li class="nav-item">
				<span class="nav-link px-0 py-2 active">
					<i class="ai-circle-arrow-down fs-lg opacity-90 me-2"></i>
					Pages
				</span>
				<ul class="nav flex-column border-start ps-3 ms-2 mb-2">
					<li class="nav-item">
						<a class="nav-link fs-sm fw-normal py-1 ps-1 pe-0 mb-1" routerLink="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-sm fw-normal py-1 ps-1 pe-0 mb-1" routerLink="/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-sm fw-normal py-1 ps-1 pe-0 mb-1" routerLink="/works">Works</a>
					</li>
				</ul>
			</li>
			<li class="nav-item">
				<span class="nav-link px-0 py-2 active">
					<i class="ai-mail fs-lg opacity-90 me-2"></i>
					Contact
				</span>
				<ul class="nav flex-column border-start ps-3 ms-2 mb-2">
					<li class="nav-item">
						<a class="nav-link fs-sm fw-normal py-1 ps-1 pe-0 mb-1" routerLink="/contact">Message</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-sm fw-normal py-1 ps-1 pe-0 mb-1" routerLink="/about">Mail</a>
					</li>
				</ul>
			</li>
			<li class="nav-item">
				<span class="nav-link px-0 py-2 active">
					<i class="ai-external-link fs-lg opacity-90 me-2"></i>
					External Links
				</span>
				<ul class="nav flex-column border-start ps-3 ms-2 mb-2">
					<li class="nav-item">
						<span class="nav-link px-0 py-2 active">
							<i class="ai-mail fs-lg opacity-90 me-2"></i>
							Socials
						</span>
						<ul class="nav flex-column border-start ps-3 ms-2 mb-2">
							<li class="nav-item">
								<a class="nav-link fs-sm fw-normal py-1 ps-1 pe-0 mb-1" routerLink="/">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-sm fw-normal py-1 ps-1 pe-0 mb-1" routerLink="/about">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-sm fw-normal py-1 ps-1 pe-0 mb-1" routerLink="/works">Works</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<span class="nav-link px-0 py-2 active">
							<i class="ai-mail fs-lg opacity-90 me-2"></i>
							Partner websites
						</span>
						<ul class="nav flex-column border-start ps-3 ms-2 mb-2">
							<li class="nav-item">
								<a class="nav-link fs-sm fw-normal py-1 ps-1 pe-0 mb-1" target="_blank"
									href="/">Laymaan</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-sm fw-normal py-1 ps-1 pe-0 mb-1" target="_blank"
									href="/about">ALmondcove</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-sm fw-normal py-1 ps-1 pe-0 mb-1" target="_blank"
									href="/works">Assambrew</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>

</div>