<section class="container overflow-hidden pt-5 mt-5 pb-5 mb-2 mb-lg-3 mb-xl-4 mb-xxl-5">
    <div class="masonry-filterable">
        <div class="row pb-lg-4 mb-2 mb-sm-3">
            <div class="col-xxl-12 col-lg-12 d-flex">
                <ul
                    class="masonry-filters nav nav-pills fs-sm flex-nowrap overflow-auto text-nowrap w-100 mx-auto me-lg-0 pb-3">
                    <li class="nav-item mb-0" *ngFor="let link of navLinks">
                        <a class="nav-link border" href="#" [attr.data-group]="link.group"
                            [class.active]="link.group === 'all'">{{ link.text }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pt-5 mt-5 masonry-grid" data-columns="4">
            <article *ngFor="let article of articles" class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5"
                [attr.data-groups]="article.dataGroups">
                <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
                    <div class="zoom-effect-wrapper">
                        <div class="zoom-effect-img"><img [src]="article.imageUrl" alt="Image"></div>
                    </div>
                    <div class="pt-4 mt-lg-2">
                        <h2 class="h4 mb-2"><a class="stretched-link" [href]="article.link">{{ article.title }}</a></h2>
                        <div class="d-flex justify-content-between fs-lg text-muted"><span>{{ article.artists
                                }}</span><span>{{ article.year }}</span></div>
                    </div>
                </div>
            </article>
        </div>
        <!-- Button-->
        <div class="text-center pb-sm-2 pb-md-4 mt-n1 mt-lg-n2"><a class="btn btn-lg btn-outline-dark rounded-0"
                href="#">Let's work together</a></div>
    </div>
</section>